@import url(./__name/header__name.css);
@import url(./__position/header__position.css);

.header {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  grid-area: header;
}

@media screen and (max-width: 599px) {
  .header {
    margin: auto;
  }
}
